.app-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.floating-btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 18px 26px;
    border-radius: 35px;
    background: linear-gradient(to right, #5924CB 0%, #6C82EF 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.floating-button-icon {
    font-size: 1.5em;
    font-weight: 600;
    margin-right: 14px;
}

.list-of-contacts {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: #f3f3f3;
    padding: 20px;
}

.list-of-contacts-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.list-of-contacts-container {
    width: 100%;
    height: calc(100% - 37px);
    overflow: auto;
}

.no-contacts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: rgba(51,51,51,0.8);
}

.contact-card-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    width: calc(100% - 40px);
}

.contact-edit-btn {
    cursor: pointer;
    color: #5924CB;
    text-decoration: underline;
}

.add-new-contact-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33333399;
    z-index: 10;
}

.add-new-contact-container {
    max-height: 100%;
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    font-family: Roboto;
}

.add-new-contact-header {
    font-size: 1.3em;
    margin-bottom: 15px;
}

.add-new-contact-input {
    outline: none;
    width: calc(100% - 22px);
    padding: 12px 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    font-family: Roboto;
    color: rgba(0,0,0,0.8);
}

.add-new-contact-label{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.9em;
    color: #333333cf;
}